[tool.black]
line-length = 79
target-version = ['py312']

[tool.isort]
profile = "black"
line_length = 79
force_sort_within_sections = true
known_first_party = ["my_project_name"]

[tool.mypy]
python_version = "3.13"
strict = true
ignore_missing_imports = true
show_error_codes = true
plugins = ["sqlalchemy.ext.mypy.plugin"]
namespace_packages = true